body{

	background-image: url("https://passengercount.herokuapp.com/pcabg.jpeg");
	font-family: sans-serif;
	font-weight:bold ;
	text-align:center ;
	color: #999999;
}
h1{
	margin-top: 80px;
	margin-bottom: 40px;
	font-size: 70px;
	font-family: monospace;
}
h2{
	font-size: 90px;
	margin-top: 50px;
	margin-bottom: 70px;
}
button{
	color: black;
	width: 200px;
	padding-top: 20px;
	padding-bottom: 20px;
	
}
#increment-btn{
	background: grey;

}
#save-btn{
	background: grey;
}
